#bottom_button_next {
	background-color: #608692;
	color:white;
}

#link_custom {
	text-decoration: none;
	color: white;
}


#maincolor h4, 
#maincolor a {
  color: #608692
}

#status_icon_success, #status_icon_error{
	margin-top: 5px;
	max-width: 70px;
	max-height: 70px;
	display:none;
	float: left;
}
  
.ui-content{
	padding:5px;
}
  
  .container {
	
	text-align: center;
	background-color: white;
	min-height: 80px;
  }
  #status_text_success{
	
	width:78%;
	min-height: 100%;
	
	
	text-align: center;
	padding-top: 30px;
	font-size: 18px;
	font-weight: bold;
	display:none;
  }

  #status_text_error{
	
	width:78%;
	min-height: 100%;
	
	
	text-align: center;
	padding-top: 30px;
	font-size: 13px;
	font-weight: bold;
	display:none;
	color:red;
  }

  #black{
	  color:black;
  }
